		/* All css goes here */

		* {
            font-family: "Fredoka One";
            }
            body 
            {
            margin: 0px;
            background-color: #ffffff;
            }
           
            #gulugulu{
                color:white;
                text-decoration: none;
                font-size: 32px;
            }
            #gulugulu:hover {
                color:greenyellow;
                font-size: 34px;
                
            }
    
            /* header css */

            h5 > span,u{
                color:inherit;
                text-decoration: none;
            }
            .btnSignup {
                text-decoration: none;;
            }
    
            #main_clr {
            background-color: #24305E;
            font-size: 16px;	
            }
            #header_cont,#footer_cont {
                color: #f0f03a;
            }
    
            /* header css  done */
    
    
            #footer_clr {
            background-color: #24305E;
            font-size: 14px;	
            }
    
    
            .formwidth {
            width: 55%;
            background-color: #ffffff;
            padding: 1em;
            border: .1px grey;
            box-shadow: inset 0px 0px 0px 0px #efefe8;
            border-radius: 3px;
            }
            .usrnmmsg {
            position: absolute;
            z-index: 10000;
            font-size: 12px;
            margin-top: -17px;
            margin-left: 12px;
            }
            .logoimg
            {
            width: 4em;
            }
            @media screen and (max-width: 720px) {
            .formwidth {
            width: 91%;
            }
            .logoimg
            {
            width: 3em;
            }
            }
        